<md-grid-list md-cols="2" md-row-height="49.9%" onmousedown="return false">

    <md-grid-tile class="bluedice" ng-cloak>
        <md-button href="/blue" class="md-icon-button GridListBtn" aria-label="Blue" flex>
            <md-icon md-svg-icon="img/3Dblue.svg"></md-icon>
        </md-button>
    </md-grid-tile>

    <md-grid-tile class="orangedice" ng-cloak>
        <md-button href="/orange" class="md-icon-button GridListBtn" aria-label="Orange" flex>
            <md-icon md-svg-icon="img/3Dorange.svg"></md-icon>
        </md-button>
    </md-grid-tile>

    <md-grid-tile class="reddice" ng-cloak>
        <md-button href="/red" class="md-icon-button GridListBtn" aria-label="Red" flex>
            <md-icon md-svg-icon="img/3Dred.svg"></md-icon>
        </md-button>
    </md-grid-tile>

    <md-grid-tile class="darkdice" ng-cloak>
        <md-button href="/darknumber" class="md-icon-button GridListBtn" aria-label="Dark" flex>
            <md-icon md-svg-icon="img/3Ddark.svg"></md-icon>
        </md-button>
    </md-grid-tile>

</md-grid-list>