<md-grid-list md-cols="2" md-row-height="49.9%" onmousedown="return false">
    
  <md-grid-tile class="bluedice">
      <md-button href="/blue" class="md-icon-button" aria-label="Blue" flex style="height:100%;color: white;">
        <md-icon md-svg-icon="img/3Dblue.svg" flex class="GridListBtnIcon"></md-icon>
      </md-button>
  </md-grid-tile>

   <md-grid-tile class="orangedice">
        <md-button href="/orange" class="md-icon-button" aria-label="Orange" flex style="height:100%;color: white;">
        <md-icon md-svg-icon="img/3Dorange.svg" class="GridListBtnIcon"></md-icon>
      </md-button>
  </md-grid-tile>

   <md-grid-tile class="reddice">
         <md-button href="/red" class="md-icon-button" aria-label="Red" flex style="height:100%;color: white;">
        <md-icon md-svg-icon="img/3Dred.svg" class="GridListBtnIcon"></md-icon>
      </md-button>
  </md-grid-tile>

   <md-grid-tile class="darkdice">
             <md-button href="/dark" class="md-icon-button" aria-label="Dark" flex style="height:100%;color: white;">
        <md-icon md-svg-icon="img/3Ddark.svg" class="GridListBtnIcon"></md-icon>
      </md-button>
  </md-grid-tile>
  
</md-grid-list>