<div ng-include="'/views/partials/backbutton.html'"></div>

<md-grid-list md-cols="3" md-row-height="33%" onmousedown="return false" class="darkdice">

    <md-grid-tile>
        <md-button href="/dark" flex class="GridListBtn">1</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button href="/dark2" class="GridListBtn" flex>2</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button href="/red" class="GridListBtn" flex>3</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button href="/dark" class="GridListBtn" flex>4</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button href="/dark" class="GridListBtn" flex>5</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button href="/dark" class="GridListBtn" flex>6</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button href="/dark" class="GridListBtn" flex>7</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button href="/dark" class="GridListBtn" flex>8</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button href="/dark" class="GridListBtn" flex>9</md-button>
    </md-grid-tile>

</md-grid-list>