<div ng-include="'/views/partials/backbutton.html'"></div>
<div layout="column" layout-align="center center" ng-cloak my-randomshow class="fullscreen orangedice" onmousedown="return false" ng-mousedown="$broadcast('shakeIt::shaking')" ng-mouseup="$broadcast('shakeIt::shaked')">
    <md-icon md-svg-src="/img/ic_vibration_48px.svg" alt="Shake" class="shakeicon"></md-icon>
    <div hide class="circle"></div>
    <img hide src="/img/dice/efail.png" alt="Epic fail">
    <img hide src="/img/dice/skill.png" alt="Skill">
    <img hide src="/img/dice/success.png" alt="Success">
    <img hide src="/img/dice/four.png" alt="Four">
    <img hide src="/img/dice/three.png" alt="Three">
    <img hide src="/img/dice/fail.png" alt="Fail">
</div>