<div layout="column" layout-align="center center" ng-cloak my-randomshow class="fullscreen reddice" onmousedown="return false">
    <md-icon md-svg-src="/img/ic_vibration_48px.svg" alt="Cake" class="shakeicon"></md-icon>
    <div hide class="circle"></div>
    <img hide src="/img/dice/efail.png" alt="Epic fail">
    <img hide src="/img/dice/skill.png" alt="Skill">
    <img hide src="/img/dice/success.png" alt="Success">
    <img hide src="/img/dice/four.png" alt="Four">
    <img hide src="/img/dice/fail.png" alt="Fail">
    <img hide src="/img/dice/fail.png" alt="Fail">
</div>