<div ng-include="'/views/partials/backbutton.html'"></div>
<div layout="column" layout-align="center center" ng-cloak my-randomshow class="fullscreen reddice" onmousedown="return false" ng-mousedown="desktopmdown();" ng-mouseup="desktopmup();">
    <md-icon md-svg-src="/img/ic_vibration_48px.svg" alt="Shake" class="shakeicon"></md-icon>
    <div hide class="circle"></div>
    <img hide src="/img/dice/efail.svg" alt="Epic fail">
    <img hide src="/img/dice/skill.svg" alt="Skill">
    <img hide src="/img/dice/success.svg" alt="Success">
    <img hide src="/img/dice/four.svg" alt="Four">
    <img hide src="/img/dice/fail.svg" alt="Fail">
    <img hide src="/img/dice/fail.svg" alt="Fail">
</div>